name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  main:
    name: Main pipeline
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: read
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@25.1.0
      - name: unittest
        run: |
          sudo apt-get install -y python3-pyqt5 xvfb
          xvfb-run -a python3 -m unittest discover -v --start-directory tests
      - name: wheel
        run: |
          pip install build
          python -m build . --wheel
